<nav>
    <a href="/stack">
        <figure> 
            <figcaption>Stack</figcaption> 
        </figure>
    </a>
    <a href="/queue">
        <figure> 
            <figcaption>Queue</figcaption> 
        </figure>
    </a>
    <a href="/linkedlist">
        <figure> 
            <figcaption>Linked List</figcaption> 
        </figure>
    </a>
</nav>