<div>
    <table id="visual">
        <tr>
            <td> Back </td>
            <% for (i = 0; i < data.length; i++) { %>
                <td class="num"> <%= data[i] %> </td>
            <% } %>
            <td> Front </td>
        </tr>
    </table>
</div>