<!DOCTYPE html>
<html lang="en">
<%- include("partials/headInfo") %>
<body>
  <h1> Welcome to the Solar System! </h1>
  <%- include("partials/menu.ejs") %>
  <img src="img/solarsystem.jpg">
  <br><br>
  <p> The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly. Of the objects that orbit the Sun directly, the largest are the eight planets, with the remainder being smaller objects, the dwarf planets and small Solar System bodies. Of the objects that orbit the Sun indirectly—the natural satellites—two are larger than the smallest planet, Mercury. </p>
  <i> -Wikipedia </i>
</body>
</html>