<!DOCTYPE html>
<html>
  <%- include("partials/headInfo") %>
  <body>
    <header>
        <h1> <a href="/">Data Structures</a> </h1>
    </header>
    <hr>
    <main>
        <nav>
            <a href="/stack">
                <figure> 
                    <img src="img/stack.png">
                    <figcaption>Stack</figcaption> 
                </figure>
            </a>
            <a href="/queue">
                <figure> 
                    <img src="img/queue.png">
                    <figcaption>Queue</figcaption> 
                </figure>
            </a>
            <a href="/linkedlist">
                <figure> 
                    <img src="img/linkedlist.png">
                    <figcaption>Linked List</figcaption> 
                </figure>
            </a>
        </nav>
        <p> 
            Data structures are an extremely important part of computer science.
            <br>
            Storing and accessing data is a necessity when it comes to making programs, and it has to be done efficiently.
            <br>
            There are many data structures out there, and each have their strengths and weaknesses. 
            <br>
            Choosing the right structure can mean the difference between blazing-fast speeds and watching a progress bar move slower than molasses.
        </p>
        <cite>Source: <a class="sourceLink" href="https://www.geeksforgeeks.org/data-structures/">GeeksforGeeks</a> </cite>
    </main>
    <%- include("partials/footer") %>
    <script src="script.js"></script>
  </body>
</html>